@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", sans-serif;
}

header {
  width: 100%;
  height: auto;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.header-title {
  font-weight: bold;
  letter-spacing: 1rem;
  font-size: 3rem;
  color: white;
  margin: 0.5em 0 0 0;
}

.header-description {
  color: gold;
  font-weight: bold;
  margin: 0.5em 0 0.5em 0;
  font-size: 1.5rem;
}

.principal-nav-bar {
  width: 100%;
  height: 7vh;
  display: flex;
}

.principal-nav-bar ul {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 15em 0;
}

.principal-nav-bar ul li {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border: solid 2px gold;
  border-radius: 10%;
  padding: 0.2em 2em 0.2em;
}

.principal-nav-bar ul li:hover {
  background-color: gold;
  color: black;
  transform: scale(1.2);
}

.principal-nav-bar a {
  text-decoration: none;
}

.first-articles {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1.5em 0 0 0;
}

.economics-article {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.economics-article img {
  width: 100%;
  height: auto;
}

.article-title {
  font-size: 25px;
  text-align: center;
  margin: 1em 0 1em 0;
}

.article-description {
  font-size: 14px;
  text-align: justify;
  margin: 1em 0 0 0;
}

.finance-article {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
}

.finance-article img {
  width: 100%;
  height: auto;
}
