* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  height: 20vh;
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}

.header-title-box {
  height: 70%;
  width: 100%;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.header-title {
  font-style: italic;
  font-weight: bold;
  color: white;
}

.header-description {
  color: gold;

}

.article-second-box {
  width: 10vh;
  height: 100%;
}

.article-list {
  width: 15vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: blueviolet;
}

.article-list > a {
  box-sizing: content-box;
  font-weight: bold;
  color: gold;
  text-decoration: none;
}

.article-list > li {
  font-weight: bold;
  text-align: center;
}

/* cambiar padding del .header-list por alineación con FLEX */
